@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PT Sans Regular'), url(../fonts/pt-sans-400.woff) format('woff');
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Italic'), url(../fonts/pt-sans-400i.woff) format('woff');
    font-style: italic;
    font-weight: 400
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), url(../fonts/pt-sans-700.woff) format('woff');
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold Italic'), url(../fonts/pt-sans-700i.woff) format('woff');
    font-style: italic;
    font-weight: 700
}

@font-face {
    font-family: 'PT Sans Ruble';
    src: url(../fonts/pt-sans-ruble-400.woff) format('woff');
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: 'PT Sans Ruble';
    src: url(../fonts/pt-sans-ruble-700.woff) format('woff');
    font-style: normal;
    font-weight: 700
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    cursor: default
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

a {
    background: 0 0
}

:active, :focus, :hover {
    outline: 0
}

hr {
    box-sizing: content-box;
    height: 0
}

ol, ul {
    list-style: none
}

pre {
    -moz-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap
}

q {
    quotes: '\201C' '\201D' '\2018' '\2019'
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button {
    overflow: visible
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

button, input, select[multiple], textarea {
    background-image: none
}

input, select, textarea {
    border-radius: 0;
    box-shadow: none
}

input, textarea {
    resize: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent
}

[placeholder]:focus::-moz-placeholder {
    color: transparent
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent
}

[placeholder]:focus::placeholder {
    color: transparent
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

b, strong {
    font-weight: 700
}

body {
    min-width: 1200px;
    color: #000;
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 14px;
    line-height: 20px
}

a {
    color: inherit;
    text-decoration: none
}

.h1, .h2, .h3, .h4, .h5, .h6, .wysiwyg blockquote::before, .wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
    font-family: 'PT Sans', Tahoma, sans-serif;
    color: #000
}

.h1, .wysiwyg h1 {
    font-size: 32px;
    line-height: 40px
}

.h2, .wysiwyg h2 {
    font-size: 26px;
    line-height: 40px
}

.h3, .wysiwyg blockquote::before, .wysiwyg h3 {
    font-size: 20px;
    line-height: 30px
}

.h4, .wysiwyg h4 {
    font-size: 16px;
    line-height: 20px
}

.h5, .wysiwyg h5 {
    font-size: 14px
}

.h_upcase {
    text-transform: uppercase
}

.checkbox:disabled + label, .radio:disabled + label {
    color: #d2d2d2
}

.select2 {
    display: inline-block;
    height: 40px;
    position: relative;
    width: 100%
}

.select2-container {
    width: 100%
}

.select2-container + select {
    display: block;
    margin: -21px 12px 0 0;
    visibility: hidden;
    height: 20px;
    z-index: -1
}

.select2-container .select2-choice {
    height: 40px;
    padding: 7px 8px;
    border: 1px solid #999;
    color: #272727;
    border-radius: 0;
    background-color: #fff;
    background-image: none
}

.select2-container .select2-choice:hover {
    border: 2px solid #22b5cd;
    padding: 6px 7px
}

.select2-container-disabled .select2-choice:hover {
    border: 1px solid #ddd;
    padding: 7px 8px
}

.select2-container-disabled .select2-arrow:hover {
    right: 0;
    top: 0
}

.select2-dropdown-open .select2-choice {
    border: 2px solid #22b5cd;
    border-bottom: none;
    padding: 6px 7px
}

.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 2px solid #22b5cd;
    border-top: none
}

.select2-container.select2-drop-above .select2-choice {
    border: 2px solid #22b5cd;
    border-radius: 0
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    background-image: none
}

.select2-drop, .select2-drop.select2-drop-above {
    box-shadow: none
}

.select2-drop-active {
    border: 2px solid #22b5cd;
    border-top: none
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 2px solid #22b5cd
}

.select2-container .select2-choice .select2-arrow {
    width: 18px;
    border-left: none;
    border-radius: 0;
    background-image: none;
    background-color: #fff
}

.select2-container .select2-choice:hover .select2-arrow {
    right: -1px;
    top: -1px
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 3px 16px;
    background-image: url(../images/svg/select-arrow.svg)
}

.select2-search {
    margin-bottom: 8px
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-dropdown-open .select2-choice, .select2-search input {
    box-shadow: none
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -96px 16px
}

.select2-results {
    padding: 0;
    margin: -3px 0 0
}

.select2-results .select2-result-label {
    padding: 8px 7px 6px
}

.select2-results .select2-highlighted {
    background: #22b5cd;
    color: #fff
}

.select2-container-multi .select2-choices .select2-search-choice, .select2-container-multi.select2-container-active .select2-choices {
    box-shadow: none
}

.select2-drop.select2-drop-above {
    border-radius: 0
}

.select2-drop.select2-drop-above .select2-results {
    margin-top: 0
}

.select2-container .select2-choice .select2-chosen {
    margin-right: 10px
}

.select2-container.noborder:hover .select2-choice {
    border-color: #22b5cd
}

.select2-container.noborder .select2-choice {
    border-color: transparent
}

.select2-container.select2-dropdown-open.noborder .select2-choice {
    border-color: #22b5cd
}

.badge {
    padding: 6px 10px;
    margin-left: 6px;
    display: inline-block;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: #fff;
    line-height: 1em
}

.badge_light-blue {
    background-color: #22b5cd
}

.badge:empty {
    display: none
}

.best-brands {
    position: relative;
    padding: 10px 0 0;
    min-height: 50px;
    text-align: center;
    border: 1px solid #d2d2d2;
    background: #f4f4f4
}

.best-brands__title {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 30px;
    background: #f4f4f4
}

.best-brands__item {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    text-align: center
}

.best-brands__img {
    vertical-align: middle
}

.breadcrumbs {
    color: #b8b8b8
}

.breadcrumbs ul li {
    position: relative;
    padding-right: 30px;
    display: inline
}

.breadcrumbs ul li:after {
    position: absolute;
    right: 10px;
    top: calc(50% - 6px);
    display: block;
    width: 12px;
    height: 12px;
    background: url(../images/icon-arrow-small_right.png) center center no-repeat;
    content: ""
}

.breadcrumbs ul li:last-child:after {
    display: none
}

.breadcrumbs ul li a:hover {
    color: #22b5cd
}

.btn {
    position: relative;
    display: inline-block;
    padding: 12px 22px;
    color: #fff;
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: 0 0;
    border: none;
    border-radius: 0;
    box-shadow: inset 0 0 0 1px #22b5cd;
    cursor: pointer;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:active {
    background-color: #93cd22 !important;
    box-shadow: inset 0 0 0 1px #83b71e
}

.btn:not(:disabled):not(.btn_disabled):hover {
    background-color: #1ea2b7
}

.btn:disabled, .btn_disabled {
    color: #b8b8b8;
    box-shadow: inset 0 0 0 1px #c5c5c5;
    cursor: default
}

.btn__label {
    line-height: 1;
    vertical-align: middle
}

.btn_cart {
    padding: 0 0 0 40px;
    width: 136px;
    height: 41px;
    line-height: 41px;
    color: #fff;
    background: url(../images/icon-cart_white.png) 20px center no-repeat #22b5cd;
    cursor: pointer
}

.btn_cart:hover {
    background-color: #2cc3dc
}

.btn_success {
    background-color: #93cd22;
    box-shadow: inset 0 0 0 1px #93cd22
}

.btn_success:hover {
    background-color: #a0dc2c !important
}

.btn_success:active {
    background-color: #90c921 !important
}

.btn_primary {
    background-color: #22b5cd;
    box-shadow: inset 0 0 0 1px #22b5cd
}

.btn_primary:hover {
    background-color: #2cc3dc !important
}

.btn_primary:active {
    background-color: #21b1c9 !important
}

.btn_white {
    color: #000
}

.btn_white:active, .btn_white:hover {
    color: #fff
}

.btn_wide {
    width: 100%
}

.btn_big {
    padding: 16px 22px;
    font-size: 16px;
    font-weight: 700
}

.btn_login-button {
    display: inline-block;
    padding: 8px 15px 8px 30px;
    background: url(../images/icon-login.png) 10px center no-repeat;
    color: #fff;
    line-height: 1em
}

.btn_login-button:hover, .btn_login-button_active {
    background-color: #22b5cd
}

.cart-box {
    margin-bottom: 50px;
    background: #fff
}

.cart-box__bottom {
    padding: 20px 100px 40px;
    text-align: right
}

.cart-box__subtotal {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 700
}

.cart-item {
    position: relative;
    line-height: 128px
}

.cart-item:after {
    display: table;
    clear: both;
    content: ''
}

.cart-item__info {
    float: left;
    clear: none;
    text-align: inherit;
    width: 38.2%;
    margin-left: 0;
    margin-right: 3%;
    padding: 0 0 0 20px
}

.cart-item__info:after, .cart-item__info:before {
    content: '';
    display: table
}

.cart-item__info:last-child {
    margin-right: 0
}

.cart-item__info:after {
    display: table;
    clear: both;
    content: ''
}

.cart-item__thumbnail {
    position: relative;
    display: block;
    float: left;
    width: 128px;
    height: 128px;
    overflow: hidden
}

.cart-item__img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%
}

.cart-item__content {
    position: absolute;
    top: 50%;
    left: 179px;
    -webkit-transform: translateY(-78%);
    transform: translateY(-78%);
    line-height: 1.5em
}

.cart-item__category {
    color: #b8b8b8
}

.cart-item__link {
    color: #22b5cd;
    cursor: pointer
}

.cart-item__quantity {
    float: left;
    clear: none;
    width: 17.6%;
    margin-left: 0;
    margin-right: 3%;
    text-align: center;
    font-weight: 700
}

.cart-item__quantity:after, .cart-item__quantity:before {
    content: '';
    display: table
}

.cart-item__quantity:after {
    clear: both
}

.cart-item__quantity:last-child {
    margin-right: 0
}

.cart-item__price, .cart-item__summ {
    float: left;
    clear: none;
    width: 17.6%;
    margin-left: 0;
    margin-right: 3%;
    text-align: center;
    font-size: 18px;
    font-weight: 700
}

.cart-item__price:after, .cart-item__price:before, .cart-item__summ:after, .cart-item__summ:before {
    content: '';
    display: table
}

.cart-item__price:after, .cart-item__summ:after {
    clear: both
}

.cart-item__price:last-child, .cart-item__summ:last-child {
    margin-right: 0
}

.cart-item__action {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    font-size: 14px;
    line-height: 1em;
    cursor: pointer
}

.cart-item__action:hover {
    color: red
}

.cart-list__column {
    float: left;
    clear: none;
    width: 17.6%;
    margin-left: 0;
    margin-right: 3%;
    text-align: center;
    line-height: 50px
}

.cart-list__column:after, .cart-list__column:before {
    content: '';
    display: table
}

.cart-list__column:after {
    clear: both
}

.cart-list__column:last-child {
    margin-right: 0
}

.cart-list__column_info {
    float: left;
    clear: none;
    width: 38.2%;
    margin-left: 0;
    margin-right: 3%;
    text-align: center
}

.cart-list__column_info:after, .cart-list__column_info:before {
    content: '';
    display: table
}

.cart-list__column_info:after {
    clear: both
}

.cart-list__column_info:last-child {
    margin-right: 0
}

.cart-list__item {
    margin: 15px 0 0;
    padding: 0 0 15px;
    border-bottom: 1px solid #ebebeb
}

.cart-list__item:last-child {
    margin-bottom: 0;
    border-bottom: none
}

.cart-list-header {
    background: #000;
    color: #fff
}

.cart-list-header:after {
    display: table;
    clear: both;
    content: ''
}

.cart-mini {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 200;
    padding: 0 25px;
    display: none;
    min-width: 300px;
    max-width: 300px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: 400;
    text-align: left
}

.cart-mini.active, .cart-mini.toggle-active, .cart-mini_active {
    display: block
}

.cart-mini__item {
    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid #f4f4f4
}

.cart-mini__item:after {
    display: table;
    clear: both;
    content: ''
}

.cart-mini__thumbnail {
    position: relative;
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden
}

.cart-mini__img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%
}

.cart-mini__info {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 50px;
    padding: 10px
}

.cart-mini__link {
    color: #22b5cd
}

.cart-mini__bottom {
    padding: 25px;
    text-align: center
}

.cart-mini__delete-btn {
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    vertical-align: middle;
    display: block;
    width: 15px;
    height: 15px;
    color: #b8b8b8;
    line-height: 15px;
    text-align: center
}

.cart-mini__delete-btn:hover {
    color: #e4003a;
    cursor: pointer
}

.catalog-controls {
    padding-bottom: 25px;
    display: table;
    width: 100%
}

.catalog-controls__col {
    display: table-cell;
    text-align: left
}

.catalog-controls__col_right {
    text-align: right
}

.catalog-filter {
    border: 1px solid #b8b8b8;
    background: #fff;
    color: #333
}

.catalog-filter__button {
    padding: 27px 50px;
    text-align: center
}

.catalog-filter__button .btn {
    color: #000
}

.catalog-filter__button .btn:hover {
    color: #fff
}

.catalog {
    margin-left: -12px;
    margin-right: -11px
}

.catalog__items:after {
    display: table;
    clear: both;
    content: ''
}

.catalog__item {
    padding: 0 9px 25px;
    display: inline-block;
    float: left;
    clear: none;
    text-align: inherit;
    width: 33.33333333333333%;
    margin-left: 0;
    margin-right: 0
}

.catalog__item:after, .catalog__item:before {
    content: '';
    display: table
}

.catalog__item:after {
    clear: both
}

.catalog__item:nth-child(3n) {
    margin-right: 0;
    float: right
}

.catalog__item:nth-child(3n+1) {
    clear: both
}

.catalog__pagination {
    padding: 20px 0;
    text-align: center
}

.catalog__row {
    padding: 0 14px 1px
}

.coupon-box {
    padding: 60px;
    background-color: #eeec51;
    text-align: center
}

.coupon-box__label {
    font-size: 26px;
    vertical-align: text-bottom
}

.coupon-box__input {
    margin: 0 15px;
    display: inline-block;
    width: 200px !important
}

.detail-view {
    margin-bottom: 40px
}

.detail-view:last-child, .detail-view__item {
    margin-bottom: 0
}

.detail-view__title {
    margin: 0 5px 4px 0;
    display: inline-block
}

.detail-view__text {
    display: inline-block;
    font-weight: 700
}

.dropdown-menu {
    position: absolute;
    left: -30px;
    width: calc(100% + 60px);
    padding: 20px 20px 15px;
    z-index: 10;
    display: none;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    color: #000;
    cursor: default;
    line-height: initial
}

.dropdown-menu__header {
    padding: 0 0 10px;
    color: #000
}

.dropdown-menu__item {
    line-height: initial;
    cursor: pointer
}

.dropdown-menu__link {
    padding: 3px 0;
    color: #22b5cd;
    text-decoration: underline
}

.dropdown-menu__link_exit {
    color: #000
}

.dropdown-menu__link:hover {
    color: #6ed6e7
}

.dropdown-menu__separator {
    margin: 10px 0;
    border-bottom: 1px solid #eee
}

.dropdown-menu_active {
    display: block
}

.dropdown-menu:before {
    position: absolute;
    top: -20px;
    left: calc(50% - 5px);
    border: 10px solid;
    border-color: transparent transparent #fff;
    content: ''
}

.fast-order:after, .fast-order:before {
    content: '';
    display: table
}

.fast-order:after {
    clear: both
}

.fast-order__inputs {
    margin: 10px 0 20px
}

.fast-order__inputs:after {
    display: table;
    clear: both;
    content: ''
}

.fast-order__column {
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-left: 0;
    margin-right: 3%
}

.fast-order__column:after, .fast-order__column:before {
    content: '';
    display: table
}

.fast-order__column:after {
    clear: both
}

.fast-order__column:last-child {
    margin-right: 0
}

.fast-order__bottom {
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-left: 0;
    margin-right: 3%;
    position: relative;
    left: 34.33333333333333%
}

.fast-order__bottom:after, .fast-order__bottom:before {
    content: '';
    display: table
}

.fast-order__bottom:after {
    clear: both
}

.fast-order__bottom:last-child {
    margin-right: 0
}

.filter-block {
    padding: 0 22px;
    border-bottom: 1px solid #ebebeb
}

.filter-block__title {
    padding: 19px 0
}

.filter-block__title[data-collapse-summary] {
    background: url(../images/icon-arrow-small_down.png) 0 center no-repeat
}

.filter-block__title[data-collapse-summary].open {
    background: url(../images/icon-arrow-small_up.png) 0 center no-repeat
}

.filter-block__title[data-collapse-summary] a {
    padding-left: 25px;
    display: block
}

.filter-block__body {
    padding-bottom: 18px
}

.filter-block__list-item {
    padding: 4px 0;
    display: block;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.filter-block__list-item input {
    vertical-align: middle
}

.filter-block__list-item label {
    cursor: pointer
}

.filter-block__list_column_2 .filter-block__list-item {
    float: left;
    display: inline-block;
    width: 50%
}

.filter-block__list:after {
    display: table;
    clear: both;
    content: ''
}

.filter-block__range .filter-input {
    position: relative;
    display: inline-block;
    width: 100%
}

.filter-block__range .filter-input_range {
    margin-left: 8%;
    width: 46%
}

.filter-block__range .filter-input_range:before {
    line-height: 26px;
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;
    width: 24px;
    content: attr(sign-title);
    text-align: center;
    color: #666;
    background: #fff
}

.filter-block__range .filter-input__box {
    display: block;
    background: #fff;
    box-shadow: inset 0 0 0 1px #b8b8b8;
    cursor: text
}

.filter-block__range .filter-input__control {
    position: relative;
    z-index: 3;
    padding: .4em 0 .4em 26px;
    box-sizing: border-box;
    width: 100%;
    background: 0 0;
    border: none
}

.filter-block__range .filter-input:first-child {
    margin-left: 0
}

.footer {
    padding: 40px;
    background: #2e2e2e
}

.footer__wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: table
}

.footer__group {
    padding-right: 20px;
    vertical-align: top;
    display: table-cell
}

.footer__item {
    padding: 5px 0;
    color: #fff
}

.footer__item_mute {
    color: #b8b8b8
}

.footer__item_header {
    padding-bottom: 20px;
    font-size: larger;
    font-weight: 700
}

.form-group {
    padding-bottom: 20px
}

.form-group:after {
    display: table;
    clear: both;
    content: ''
}

.form-group__label {
    padding: 10px 0;
    font-weight: 700
}

.form-group:last-child {
    padding-bottom: 0
}

.form-group_horizontal .form-group__controls:after, .form-group_horizontal .form-group__controls:before {
    content: '';
    display: table
}

.form-group_horizontal .form-group__controls:after {
    clear: both
}

.form-group_horizontal .form-group__hint {
    position: relative;
    left: 17.166666666666664%;
    padding: 5px 0
}

.form-group_horizontal .form-group__label {
    float: left;
    clear: none;
    text-align: inherit;
    width: 14.166666666666664%;
    margin-left: 0;
    margin-right: 3%;
    padding: 0;
    line-height: 38px
}

.form-group_horizontal .form-group__label:after, .form-group_horizontal .form-group__label:before {
    content: '';
    display: table
}

.form-group_horizontal .form-group__label:after {
    clear: both
}

.form-group_horizontal .form-group__label:last-child {
    margin-right: 0
}

.form-group_horizontal .form-group__input {
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-left: 0;
    margin-right: 3%
}

.form-group_horizontal .form-group__input:after, .form-group_horizontal .form-group__input:before {
    content: '';
    display: table
}

.form-group_horizontal .form-group__input:after {
    clear: both
}

.form-group_horizontal .form-group__input:last-child {
    margin-right: 0
}

.form-group_horizontal .form-group__help {
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0;
    margin-right: 3%;
    line-height: 38px
}

.form-group_horizontal .form-group__help:after, .form-group_horizontal .form-group__help:before {
    content: '';
    display: table
}

.form-group_horizontal .form-group__help:after {
    clear: both
}

.form-group_horizontal .form-group__help:last-child {
    margin-right: 0
}

.has-error .form-group__help {
    color: #e01f2b
}

.has-success .form-group__help {
    color: #7dbe40
}

.grid {
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    box-sizing: content-box
}

.grid-module-1 {
    width: 80px
}

.grid-module-2 {
    width: 180px
}

.grid-module-3 {
    width: 280px
}

.grid-module-4 {
    width: 380px
}

.grid-module-5 {
    width: 480px
}

.grid-module-6 {
    width: 580px
}

.grid-module-7 {
    width: 680px
}

.grid-module-8 {
    width: 780px
}

.grid-module-9 {
    width: 880px
}

.grid-module-10 {
    width: 980px
}

.grid-module-11 {
    width: 1080px
}

.grid-module-12 {
    width: 1180px
}

.cols {
    display: table;
    margin-left: -20px
}

.col {
    display: table-cell;
    box-sizing: content-box;
    padding-left: 20px;
    vertical-align: top
}

.demo-blocks {
    padding-bottom: 50px
}

.demo-block {
    display: none;
    margin: 1em 0 2em;
    padding: 1.5em 0;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAJEAAMvLy8zMzP///wAAACH5BAAAAAAALAAAAAAQABAAAAIglG+hq4jM3IFLJhqswNly/XkUEEqlcz4YuIoU+7qQVgAAOw==)
}

.demo-block_dark {
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAIAAAJmZmWZmZiH5BAAAAAAALAAAAAAQABAAAAIfhG+hq4jM3IFLJhoswNly/XkcBpIiVaInlLJr9FZWAQA7)
}

.demo-block_white {
    background-image: none;
    background-color: #fff
}

.demo-block_gray {
    background-image: none;
    background-color: #f4f4f4
}

.h-slider {
    position: relative
}

.h-slider__buttons {
    margin-bottom: 30px
}

.h-slider__buttons:after {
    display: table;
    clear: both;
    content: ''
}

.h-slider__buttons .btn {
    margin-right: 10px;
    float: right;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #b8b8b8;
    opacity: .5
}

.h-slider__buttons .btn.slick-disabled {
    box-shadow: none;
    opacity: .27;
    cursor: default
}

.h-slider__buttons .btn.slick-disabled:hover {
    background-color: transparent
}

.h-slider__buttons .btn:hover {
    background-color: #f7f7f7 !important
}

.h-slider__buttons .btn:first-child {
    margin-right: 0
}

.h-slider__buttons_noclip {
    position: absolute;
    top: -57px;
    right: 0;
    margin-bottom: 0
}

.h-slider__next {
    height: 34px;
    width: 34px;
    padding: 0;
    background-image: url(../images/svg/h-slider__next.svg);
    background-size: contain
}

.h-slider__prev {
    height: 34px;
    width: 34px;
    padding: 0;
    background-image: url(../images/svg/h-slider__prev.svg);
    background-size: contain
}

.h-slider__prev.btn {
    margin-right: -1px
}

.h-slider__slides {
    margin: 0 -10px -4px;
    font-size: 0
}

.h-slider__slide {
    display: inline-block;
    margin: 0 10px 6px;
    font-size: 14px
}

.h2 + .h-slider {
    margin-top: 30px
}

.h3 + .h-slider {
    margin-top: 26px
}

.header {
    position: relative;
    height: 140px
}

.header__item {
    display: block;
    float: left
}

.header__logo-link {
    display: block
}

.header-logo {
    margin-top: 30px
}

.header-logo-image {
    vertical-align: middle
}

.header-description {
    margin-left: 36px;
    width: 350px;
    color: #b8b8b8;
    line-height: 140px
}

.header__phone {
    margin-top: 55px;
    color: #000;
    font-size: 22px;
    font-weight: 700
}

.header-phone-callback {
    display: inline-block;
    padding-top: 5px;
    color: #22b5cd;
    text-decoration: none;
    border-bottom: 1px dashed #22b5cd
}

.header-cart {
    margin-top: 50px;
    float: right
}

.header-cart__icon {
    margin-top: 4px;
    float: left;
    width: 50px;
    height: 40px;
    display: block;
    background: url(../images/icon-cart.png) no-repeat
}

.header-cart__icon > .badge {
    margin-top: -5px;
    float: right
}

.header-cart__text-wrap {
    margin-left: 10px;
    float: right;
    text-align: right
}

.header-cart__label {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: #000
}

.header-cart__cost-title {
    padding-right: 4px;
    display: inline-block;
    color: #b8b8b8
}

.header-cart__cost-price {
    display: inline-block;
    color: #555;
    font-weight: 700
}

.header-cart__cart-toggle {
    vertical-align: middle;
    margin-bottom: 5px;
    display: inline-block;
    width: 21px;
    height: 20px;
    border: 1px solid #dbdbdb;
    background: url(../images/icon-arrow_down.png) center center no-repeat #f9f9f9
}

.header:after {
    display: table;
    clear: both;
    content: ''
}

.in-stock {
    color: #000
}

.in-stock::before {
    content: '';
    display: inline-block;
    margin-right: .3em;
    vertical-align: -.05em
}

.input {
    padding: 9px;
    width: 100%;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #999;
    -webkit-transition: background-color .35s, border-color .35s;
    transition: background-color .35s, border-color .35s
}

.input:focus {
    background-color: #f8fcfd;
    border: 1px solid #22b5cd;
    -webkit-transition: background-color .15s, border-color .15s;
    transition: background-color .15s, border-color .15s
}

.input[required]:not(:focus)::-webkit-input-placeholder::after {
    padding-left: 3px;
    color: #de1f1f;
    content: '*'
}

.input[required]:not(:focus)::-moz-placeholder::after {
    padding-left: 3px;
    color: #de1f1f;
    content: '*'
}

.input[required]:not(:focus):-ms-input-placeholder::after {
    padding-left: 3px;
    color: #de1f1f;
    content: '*'
}

.input[required]:not(:focus)::placeholder::after {
    padding-left: 3px;
    color: #de1f1f;
    content: '*'
}

.input_textarea {
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 122px;
    resize: none
}

.input_big {
    padding: 14px
}

.has-error .input {
    border: 1px solid #e01f2b;
    background-color: #fef3f4
}

.has-success .input {
    border: 1px solid #7dbe40;
    background-color: #f3f9ee
}

.fancybox-image, .fancybox-inner, .fancybox-nav, .fancybox-nav span, .fancybox-outer, .fancybox-skin, .fancybox-tmp, .fancybox-wrap, .fancybox-wrap iframe, .fancybox-wrap object {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-skin {
    position: relative;
    background-color: #f9f9f9;
    color: #444;
    text-shadow: none
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-opened .fancybox-skin {
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5)
}

.fancybox-inner, .fancybox-outer {
    position: relative
}

.fancybox-inner {
    overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #444;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}

.fancybox-iframe, .fancybox-image {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading, .fancybox-close, .fancybox-next span, .fancybox-prev span {
    background-image: url(../images/fancybox_sprite.png)
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background-image: url(../images/fancybox_loading.gif);
    background-position: center center;
    background-repeat: no-repeat
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}

.fancybox-nav {
    position: absolute;
    top: 25%;
    width: 25%;
    height: 50%;
    cursor: pointer;
    text-decoration: none;
    background: 0 0;
    -webkit-tap-highlight-color: transparent;
    z-index: 8040
}

.fancybox-prev {
    left: 0
}

.fancybox-next {
    right: 0
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}

.fancybox-nav:hover span {
    visibility: visible
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}

.fancybox-lock {
    overflow: hidden !important;
    width: auto
}

.fancybox-lock body {
    overflow: hidden !important
}

.fancybox-lock-test {
    overflow-y: hidden !important
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background-image: url(../images/fancybox_overlay.png)
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}

.fancybox-title {
    visibility: hidden;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #fff;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8)
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .8)
}

.linked-products {
    padding: 20px;
    background: #fff
}

.linked-products__total {
    position: relative;
    padding: 17px 0 0 50px
}

.linked-products__total:before {
    position: absolute;
    top: 55px;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    font-size: 30px;
    content: '='
}

.linked-products__total-price {
    padding: 10px 0 15px;
    font-size: 1.8em;
    font-weight: 700
}

.main {
    background: #f4f4f4
}

.main__hit-slider, .main__new-slider {
    padding: 20px 0
}

.main__recently-viewed-slider {
    padding: 40px 0 50px;
    background: #fff
}

.main__best-brands {
    padding: 50px 0
}

.main__breadcrumbs {
    padding: 28px 0 15px
}

.main__title {
    padding: 0 0 10px
}

.main__linked-products, .main__product-description {
    padding: 0 0 30px
}

.main__product-tabs {
    padding: 0 0 50px
}

.menu-catalog {
    position: absolute;
    display: none;
    width: 300px;
    z-index: 100;
    color: #fff;
    background-color: #2e2e2e;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2)
}

.menu-catalog.toggle-active, .menu-catalog_active {
    display: block
}

.menu-catalog > ul > li:hover {
    background-color: #22b5cd !important
}

.menu-catalog > ul > li:hover > .menu-catalog-submenu {
    display: block
}

.menu-catalog > ul > li > a {
    padding: 7px 20px;
    display: block;
    cursor: pointer
}

.menu-catalog > ul > li.has-submenu {
    background: url(../images/menu-catalog_arrow_right.svg) 280px center no-repeat
}

.menu-catalog > ul > li > .menu-catalog-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 10px;
    display: none;
    width: 880px;
    min-height: 100%;
    color: #000;
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2)
}

.menu-catalog > ul > li > .menu-catalog-submenu > ul {
    vertical-align: top;
    padding: 0 10px;
    display: inline-block
}

.menu-catalog > ul > li > .menu-catalog-submenu > ul > li {
    padding-bottom: 15px;
    font-weight: 700
}

.menu-catalog > ul > li > .menu-catalog-submenu > ul > li > ul {
    padding-top: 5px;
    color: #888;
    font-weight: 400
}

.navbar {
    background-color: #2e2e2e;
    height: 50px;
    line-height: 50px
}

.navbar__wrapper {
    height: 100%
}

.navbar__menu {
    float: left;
    height: 100%;
    color: #fff
}

.navbar__personal {
    float: right
}

.navbar__toolbar, .navbar__user {
    display: inline-block
}

.navbar:after {
    display: table;
    clear: both;
    content: ''
}

.order-box {
    background: #fff;
    margin-bottom: 30px
}

.order-box__header {
    line-height: 50px
}

.order-box__header_normal {
    position: relative;
    padding: 10px 0 0;
    margin: 0 30px;
    font-size: 22px;
    border-bottom: 2px solid #ebebeb
}

.order-box__header_black {
    font-size: 14px;
    line-height: 50px;
    background: #000;
    color: #fff;
    border: none
}

.order-box__header_black:after {
    display: table;
    clear: both;
    content: ''
}

.order-box__header-content {
    padding: 0 30px
}

.order-box__header-link {
    vertical-align: middle;
    font-size: 14px;
    color: #b8b8b8
}

.order-box__header-select {
    margin-top: -8px;
    display: inline-block;
    width: auto
}

.order-box__body {
    padding: 30px
}

.order-box__subtotal {
    padding: 10px 0;
    font-weight: 700;
    font-size: 18px
}

.order-box__subtotal_big {
    font-size: 22px
}

.order-box__bottom {
    padding: 30px;
    text-align: right;
    border-top: 1px solid #ebebeb
}

.order-box__bottom_left {
    text-align: left
}

.order-box__order-button {
    padding-top: 5px
}

.order-box__fast-order {
    padding: 20px 100px
}

.order-box-delivery:after, .order-box-delivery:before {
    content: '';
    display: table
}

.order-box-delivery:after {
    clear: both
}

.order-box-delivery__type {
    float: left;
    clear: none;
    text-align: inherit;
    width: 58.8%;
    margin-left: 0;
    margin-right: 3%
}

.order-box-delivery__type:after, .order-box-delivery__type:before {
    content: '';
    display: table
}

.order-box-delivery__type:after {
    clear: both
}

.order-box-delivery__type:last-child {
    margin-right: 0
}

.order-box-delivery__address {
    float: left;
    clear: none;
    text-align: inherit;
    width: 38.2%;
    margin-left: 0;
    margin-right: 3%
}

.order-box-delivery__address:after, .order-box-delivery__address:before {
    content: '';
    display: table
}

.order-box-delivery__address:after {
    clear: both
}

.order-box-delivery__address:last-child {
    margin-right: 0
}

.order-form {
    margin-left: -30px
}

.order-form__row {
    padding-bottom: 20px;
    display: table;
    table-layout: fixed;
    width: 100%
}

.order-form__item {
    vertical-align: top;
    padding-left: 30px;
    display: table-cell
}

.order-item {
    padding: 15px 0;
    font-size: 18px
}

.order-item:after {
    display: table;
    clear: both;
    content: ''
}

.order-item:last-child {
    padding-bottom: 0
}

.order-item:first-child {
    padding-top: 0
}

.order-item__name {
    float: left;
    clear: none;
    text-align: inherit;
    width: 58.8%;
    margin-left: 0;
    margin-right: 3%
}

.order-item__name:after, .order-item__name:before {
    content: '';
    display: table
}

.order-item__name:after {
    clear: both
}

.order-item__name:last-child {
    margin-right: 0
}

.order-item__quantity {
    float: left;
    clear: none;
    text-align: inherit;
    width: 17.6%;
    margin-left: 0;
    margin-right: 3%
}

.order-item__quantity:after, .order-item__quantity:before {
    content: '';
    display: table
}

.order-item__quantity:after {
    clear: both
}

.order-item__quantity:last-child {
    margin-right: 0
}

.order-item__price {
    float: left;
    clear: none;
    width: 17.6%;
    margin-left: 0;
    margin-right: 3%;
    text-align: right
}

.order-item__price:after, .order-item__price:before {
    content: '';
    display: table
}

.order-item__price:after {
    clear: both
}

.order-item__price:last-child {
    margin-right: 0
}

.pagination {
    vertical-align: middle;
    display: inline-block;
    color: #000;
    font-family: 'PT Sans', Tahoma, sans-serif;
    text-align: center
}

.pagination > li {
    display: inline-block;
    border: 1px solid #c5c5c5
}

.pagination > li.active, .pagination > li.selected, .pagination > li:not(.disabled):hover {
    background-color: #93cd22;
    border-color: #93cd22;
    color: #fff
}

.pagination > li.prev, .pagination > li.previous {
    margin-right: 5px
}

.pagination > li.next {
    margin-left: 5px
}

.pagination > li.next, .pagination > li.prev, .pagination > li.previous {
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.pagination > li.next.disabled, .pagination > li.prev.disabled, .pagination > li.previous.disabled {
    opacity: .5
}

.pagination > li > a, .pagination > li > span {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    line-height: 35px
}

.product-description {
    padding: 44px;
    background-color: #fff
}

.product-description__entry, .product-description__img-block {
    display: table-cell;
    vertical-align: top
}

.entry__toolbar {
    display: table;
    width: 100%
}

.entry__toolbar-item {
    display: inline-block;
    margin-right: 10px
}

.entry__toolbar-left {
    display: table-cell;
    text-align: left
}

.entry__toolbar-right {
    display: table-cell;
    text-align: right
}

.entry__toolbar-button {
    margin-left: 10px;
    display: inline-block;
    width: 41px;
    height: 41px;
    border: 1px solid #b8b8b8;
    color: #b8b8b8;
    line-height: 41px;
    text-align: center;
    font-size: 20px;
    cursor: pointer
}

.entry__toolbar-button .fa {
    width: 100%
}

.entry__toolbar-button:hover {
    color: #22b5cd;
    border-color: #22b5cd
}

.entry__title {
    padding: 20px 0
}

.entry__variants {
    padding: 0 0 20px;
    border-bottom: 1px solid #d2d2d2
}

.entry__variant {
    padding: 10px 0;
    display: table;
    width: 100%
}

.entry__variant-title, .entry__variant-value {
    display: table-cell;
    width: 50%
}

.entry__variant-value-select {
    border: none
}

.entry__price {
    padding: 40px 0;
    font-size: 1.8em
}

.entry__count {
    display: table
}

.entry__count-label {
    display: table-cell;
    width: 70px;
    color: #b8b8b8
}

.entry__count-input {
    display: table-cell;
    width: 130px
}

.entry__subtotal {
    padding: 10px 0;
    color: #b8b8b8
}

.product-features {
    padding: 30px;
    display: table;
    width: 100%;
    background: #efefef
}

.product-features__block {
    display: table-cell;
    width: 30%;
    background-position: 80px 5px;
    background-repeat: no-repeat
}

.product-features__block_delivery {
    background-image: url(../images/icon-delivery.png)
}

.product-features__block_payment, .product-features__block_warranty {
    background-image: url(../images/icon-payment.png)
}

.product-features__item {
    padding: 3px 0;
    margin-left: 40%
}

.product-features__header {
    margin-left: 40%;
    padding: 3px 0;
    font-weight: 700;
    text-transform: uppercase
}

.product-gallery {
    position: relative
}

.product-gallery__body {
    position: relative;
    display: table-cell;
    width: 380px;
    height: 380px;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer
}

.product-gallery__img-wrap {
    display: block;
    width: 380px;
    height: 380px;
    line-height: 0;
    text-align: center;
    vertical-align: middle
}

.product-gallery__main-img {
    max-height: 100%;
    max-width: 100%
}

.product-gallery__main-img + img {
    background-color: #fff
}

.product-gallery__nav {
    position: absolute;
    top: 0;
    right: 70px;
    width: 70px;
    font-size: 0
}

.product-gallery__label {
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 1
}

.product-gallery__nav-item {
    position: relative;
    display: block;
    margin: 6px 0;
    width: 70px;
    height: 70px;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    vertical-align: bottom;
    border: 3px solid transparent;
    -webkit-transition: border .2s;
    transition: border .2s
}

.product-gallery__nav-item.is-active, .product-gallery__nav-item:hover {
    border-color: #22b5cd
}

.product-gallery__nav-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s
}

.product-horizontal {
    position: relative;
    padding: 3px;
    display: table;
    width: 100%;
    background: #fff;
    background-clip: padding-box;
    text-align: left
}

.product-horizontal__label {
    position: absolute;
    top: 13px;
    left: 13px;
    z-index: 1;
    pointer-events: none
}

.product-horizontal__thumbnail {
    position: relative;
    padding: 3px;
    display: table-cell;
    overflow: hidden;
    width: 135px;
    height: 135px
}

.product-horizontal__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%
}

.product-horizontal__content {
    display: table-cell;
    padding: 15px;
    vertical-align: top
}

.product-horizontal__title {
    display: block;
    padding-bottom: 10px;
    color: #22b5cd;
    font-size: 15px;
    text-decoration: underline
}

.product-horizontal__title:hover {
    text-decoration: none
}

.product-horizontal:hover, .product-horizontal_hover {
    box-shadow: inset 0 0 0 3px #22b5cd
}

.product-horizontal__price {
    font-size: 1.4em
}

.product-horizontal__content-row {
    display: table;
    width: 100%
}

.product-horizontal__column-title {
    display: table-cell
}

.product-horizontal__column-price {
    display: table-cell;
    width: 180px;
    vertical-align: middle
}

.product-horizontal__column-cart {
    display: table-cell;
    width: 130px;
    vertical-align: middle
}

.product-horizontal__stock {
    padding: 10px;
    text-align: center
}

.product-horizontal-extra {
    display: table
}

.product-horizontal-extra__item {
    display: table-cell;
    padding: 0 10px 0 0
}

.product-horizontal-extra__item_button {
    padding-left: 15px
}

.product-horizontal-extra__item_button:hover {
    color: #22b5cd
}

.product-horizontal-extra__item_button_active {
    color: #93cd22
}

.product-horizontal-extra__item_reviews {
    text-decoration: underline
}

.product-label {
    position: relative;
    width: 50px;
    height: 50px;
    color: #fff;
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50%;
    pointer-events: none
}

.product-label__text {
    line-height: 50px
}

.product-label_left {
    margin-left: -6px;
    margin-right: 0
}

.product-label_discount {
    background: #ffe800
}

.product-label_new {
    background: #93cd22
}

.product-label_hit {
    background: #f54d19
}

.product-label_slim {
    height: auto;
    border-radius: 25px
}

.product-label_slim .product-label__text {
    line-height: 2em
}

.product-linked {
    position: relative;
    text-align: center
}

.product-linked__thumbnail {
    position: relative;
    display: block;
    height: 110px;
    overflow: hidden
}

.product-linked__img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%
}

.product-linked__info {
    padding: 10px;
    font-size: 16px
}

.product-linked__title {
    padding: 0 0 10px
}

.product-linked__link {
    color: #22b5cd;
    text-decoration: underline
}

.product-linked:before {
    position: absolute;
    top: 55px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    font-size: 30px;
    content: '+'
}

.product-linked:first-child:before {
    display: none
}

.product-linked__checkbox {
    position: absolute;
    top: 5px;
    right: 50px;
    z-index: 1
}

.product-linked:after {
    display: table;
    clear: both;
    content: ''
}

.product-mini {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 1px solid #d2d2d2
}

.product-mini__thumbnail {
    position: relative;
    float: left;
    display: block;
    width: 128px;
    height: 128px;
    overflow: hidden
}

.product-mini__img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%
}

.product-mini__info {
    position: absolute;
    top: 50%;
    left: 130px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px
}

.product-mini__link {
    color: #22b5cd
}

.product-mini:after {
    display: table;
    clear: both;
    content: ''
}

.product-price {
    padding-right: .15em;
    display: inline-block;
    color: #000;
    font-weight: 700;
    line-height: 1
}

.product-price_old {
    position: relative;
    vertical-align: top;
    color: #e4003a;
    font-size: 13px;
    font-weight: 400
}

.product-price_old:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background: #e4003a;
    content: ''
}

.product-reviews:after, .product-reviews:before {
    content: '';
    display: table
}

.product-reviews:after {
    clear: both
}

.product-reviews__body {
    float: left;
    clear: none;
    text-align: inherit;
    width: 74.25%;
    margin-left: 0;
    margin-right: 3%
}

.product-reviews__body:after, .product-reviews__body:before {
    content: '';
    display: table
}

.product-reviews__body:after {
    clear: both
}

.product-reviews__body:last-child {
    margin-right: 0
}

.product-reviews__side {
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0;
    margin-right: 3%
}

.product-reviews__side:after, .product-reviews__side:before {
    content: '';
    display: table
}

.product-reviews__side:after {
    clear: both
}

.product-reviews__side:last-child {
    margin-right: 0
}

.product-reviews__stat {
    margin: 20px 0
}

.product-reviews__hint {
    color: #b8b8b8
}

.product-review-item {
    position: relative;
    margin: 30px 0 0;
    padding: 0 0 30px;
    border-bottom: 1px solid #ebebeb
}

.product-review-item:first-child {
    margin-top: 0;
    padding-top: 0
}

.product-review-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.product-review-item__stat {
    margin-bottom: 10px
}

.product-review-item__rating-label {
    margin-right: 10px;
    margin-left: 8px;
    vertical-align: middle;
    color: #b8b8b8
}

.product-review-item__delivery {
    vertical-align: middle;
    color: #b8b8b8
}

.product-review-item__title {
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 4px
}

.product-review-item__text {
    display: inline-block;
    color: #666;
    line-height: 18px
}

.product-review-item__footer {
    margin-top: 15px;
    color: #b8b8b8
}

.product-review-user {
    margin-bottom: 18px
}

.product-review-user__name {
    font-size: 15px
}

.product-spec__header {
    margin-bottom: 12px;
    font-weight: 700
}

.product-spec__body {
    margin-bottom: 30px
}

.product-spec__body:last-child {
    margin-bottom: 0
}

.product-spec-item {
    position: relative;
    margin: 0;
    background: #fff
}

.product-spec-item__name {
    margin: 0 0 7px;
    display: inline-block;
    width: 49%;
    font-size: 15px;
    line-height: 17px;
    vertical-align: top;
    background: inherit
}

.product-spec-item__name-inner {
    position: relative;
    z-index: 2;
    padding: 0 10px 0 0;
    background: inherit
}

.product-spec-item__name:after {
    position: absolute;
    right: 5px;
    left: 0;
    margin: .85em 0 0;
    height: 1px;
    width: 49%;
    content: '';
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAAAAAA+i0toAAAAAnRSTlMA/1uRIrUAAAAMSURBVHheY7j1/z8ABY8C2UtBe8oAAAAASUVORK5CYII=) repeat-x
}

.product-spec-item__value {
    display: inline-block;
    margin: 0 0 7px;
    width: 50%;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    vertical-align: bottom;
    background: inherit
}

.product-vertical {
    position: relative;
    background: #f8f8f8;
    background-clip: padding-box;
    border: 3px solid transparent;
    text-align: center
}

.product-vertical__label {
    position: absolute;
    top: 13px;
    right: 13px;
    z-index: 1;
    pointer-events: none
}

.product-vertical__thumbnail {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 308px;
    background: #fff
}

.product-vertical__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%
}

.product-vertical__content {
    padding: 15px;
    min-height: 110px
}

.product-vertical__title {
    display: block;
    padding-bottom: 10px;
    color: #22b5cd;
    font-size: 15px;
    text-decoration: underline
}

.product-vertical__title:hover {
    text-decoration: none
}

.product-vertical:hover, .product-vertical_hover {
    border: 3px solid #22b5cd
}

.product-vertical:hover .product-vertical__extra, .product-vertical_hover .product-vertical__extra {
    display: block
}

.product-vertical__price {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.4em;
    white-space: nowrap
}

.product-vertical__extra {
    position: absolute;
    top: 100%;
    left: -3px;
    right: -3px;
    z-index: 100;
    display: none;
    border: 3px solid #22b5cd;
    border-top: none;
    background: inherit
}

.product-vertical-extra {
    font-size: 13px;
    text-align: left
}

.product-vertical-extra__top {
    margin: 0 15px;
    padding: 14px 0;
    border-top: 1px solid #dbdbdb
}

.product-vertical-extra__rating {
    margin-right: 10px;
    display: inline-block
}

.product-vertical-extra__reviews {
    display: inline-block;
    text-decoration: underline
}

.product-vertical-extra__reviews:hover {
    color: #22b5cd
}

.product-vertical-extra__stock {
    float: right;
    display: inline-block
}

.product-vertical-extra__toolbar {
    padding: 12px;
    background: #e7e7e7
}

.product-vertical-extra__button {
    margin-right: 4px;
    display: inline-block;
    width: 41px;
    height: 41px;
    border: 1px solid #cbcbcb;
    color: #b8b8b8;
    line-height: 41px;
    text-align: center;
    font-size: 20px;
    cursor: pointer
}

.product-vertical-extra__button .fa {
    width: 100%
}

.product-vertical-extra__cart {
    float: right
}

.promo-slider .slick__dot {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 100px);
    width: 200px;
    text-align: center
}

.promo-slider .slick__dot > li {
    margin: 7px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 3px solid #ddd
}

.promo-slider .slick__dot > li button {
    display: none
}

.promo-slider .slick__dot > li.slick-active {
    border-color: #22b5cd;
    background-color: #22b5cd
}

.promo-slider .slick__dot > li:hover {
    border-color: #22b5cd;
    cursor: pointer
}

.rating {
    font-size: 13px;
    line-height: 15px;
    position: relative;
    display: inline-block;
    width: 27px;
    height: 22px;
    margin-right: 14px;
    padding: 2px 0 0 2px;
    text-align: center;
    cursor: default;
    color: #fff;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #359e00;
    background: 0 0 !important
}

.rating[data-rate="1"] {
    border-color: #e35b40;
    color: #000
}

.rating[data-rate="1"] .rating__corner:after {
    background-color: #e35b40
}

.rating[data-rate="1"] .rating__triangle:after {
    background: #e35b40;
    border-color: #e35b40
}

.rating[data-rate="2"] {
    border-color: #e98f1a;
    color: #000
}

.rating[data-rate="2"] .rating__corner:after {
    background-color: #e98f1a
}

.rating[data-rate="2"] .rating__triangle:after {
    background: #e98f1a;
    border-color: #e98f1a
}

.rating[data-rate="3"] {
    border-color: #e4d100;
    color: #000
}

.rating[data-rate="3"] .rating__corner:after {
    background-color: #e4d100
}

.rating[data-rate="3"] .rating__triangle:after {
    background: #e4d100;
    border-color: #e4d100
}

.rating[data-rate="4"] {
    border-color: #b2ca0c;
    color: #000
}

.rating[data-rate="4"] .rating__corner:after {
    background-color: #b2ca0c
}

.rating[data-rate="4"] .rating__triangle:after {
    background: #b2ca0c;
    border-color: #b2ca0c
}

.rating[data-rate="5"] {
    border-color: #93cd22;
    color: #000
}

.rating[data-rate="5"] .rating__corner:after {
    background-color: #93cd22
}

.rating[data-rate="5"] .rating__triangle:after {
    background: #93cd22;
    border-color: #93cd22
}

.rating__corner {
    position: absolute;
    top: -4px;
    right: -11px;
    bottom: -4px;
    clip: rect(0, 13px, 26px, 1px);
    width: 12px
}

.rating__corner:after {
    position: absolute;
    top: -1px;
    right: -1px;
    display: block;
    width: 22px;
    height: 25px;
    content: "";
    -webkit-transform: scaleX(.5) rotate(45deg);
    transform: scaleX(.5) rotate(45deg);
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: transparent;
    background: 0 0 !important
}

.rating__triangle {
    position: absolute;
    top: 3px;
    bottom: -2px;
    left: 0;
    z-index: 1;
    clip: rect(-1px, 11px, 21px, 0);
    width: 12px;
    height: 26px
}

.rating__triangle:after {
    position: absolute;
    top: 1px;
    left: -8px;
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    -webkit-transform: scaleX(.5) rotate(45deg);
    transform: scaleX(.5) rotate(45deg);
    border-width: 3px;
    border-style: solid;
    border-color: #359e00;
    background: 0 0 !important
}

span.required {
    color: red
}

.reviews-link {
    text-decoration: underline;
    cursor: pointer
}

.reviews-link:hover {
    color: #22b5cd
}

.rich-radio-body {
    height: 100%;
    display: table
}

.rich-radio-body__img {
    display: block;
    margin-left: 34px;
    margin-right: -56px;
    position: relative;
    width: 161px;
    height: 100%;
    min-height: 111px
}

.rich-radio-body__img:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

.rich-radio-body__img_in-cash:after {
    sprite: $in-cash
}

.rich-radio-body__img_shop:after {
    sprite: $market
}

.rich-radio-body__img_online:after {
    sprite: $online
}

.rich-radio-body__img_bank:after {
    sprite: $bank
}

.rich-radio-body__img_credit:after {
    sprite: $credit
}

.rich-radio-body__img_railway:after {
    sprite: $railway
}

.rich-radio-body__img_pek:after {
    sprite: $pek
}

.rich-radio-body__img_trans-other:after {
    sprite: $trans-other
}

.rich-radio-body__content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 10px 10px 10px 36px
}

.rich-radio-body__heading {
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-weight: 700;
    vertical-align: middle;
    padding-bottom: 10px
}

.rich-radio-body__title {
    vertical-align: middle
}

.rich-radio {
    width: 100%;
    margin-bottom: 5px
}

.rich-radio__input {
    position: absolute;
    visibility: hidden;
    display: none
}

.rich-radio__input:checked + label {
    border-color: #22b5cd;
    color: #000
}

.rich-radio__input:checked + label:after {
    display: block
}

.rich-radio__label {
    position: relative;
    width: 100%;
    display: table;
    color: #000;
    cursor: pointer;
    -webkit-transition: border-color .5s ease-in-out, color .5s ease-in-out;
    transition: border-color .5s ease-in-out, color .5s ease-in-out
}

.rich-radio__label:hover {
    border-color: #22b5cd;
    -webkit-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    transition: border-color .2s ease-in-out, color .2s ease-in-out;
    color: #000
}

.rich-radio__label:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    top: 12px;
    left: 0;
    border: 1px solid #999;
    border-radius: 9px;
    box-shadow: 0 1px 4px 0 rgba(44, 44, 44, .1) inset;
    box-sizing: border-box
}

.rich-radio__label:after {
    position: absolute;
    content: '';
    display: none;
    width: 8px;
    height: 8px;
    top: 17px;
    left: 5px;
    background-color: #999;
    border-radius: 4px
}

.rich-radio__input:checked + .rich-radio__label .rich-radio__aside, .rich-radio__label:hover .rich-radio__aside {
    background-color: #22b5cd;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.ruble {
    font-family: 'PT Sans Ruble';
    text-transform: lowercase
}

.search-bar {
    position: relative
}

.search-bar__wrapper {
    height: 60px;
    background-color: #22b5cd
}

.search-bar__catalog-button {
    position: relative;
    padding-left: 50px;
    display: block;
    float: left;
    width: 180px;
    line-height: 60px;
    background: url(../images/icon-menu.png) 20px center no-repeat;
    background-color: inherit;
    color: #fff
}

.search-bar__catalog-button:hover {
    background-color: #2e2e2e
}

.search-bar__input {
    padding-left: 40px;
    padding-right: 10px;
    width: calc(100% - 180px);
    height: 60px;
    float: right;
    border: 3px solid #22b5cd;
    box-sizing: border-box;
    background: url(../images/icon-search.png) 10px center no-repeat #fff
}

.search-bar:after {
    display: table;
    clear: both;
    content: ''
}

.sorter {
    margin-left: 15px
}

.sorter__description {
    padding-right: 10px;
    display: inline;
    font-weight: 700
}

.sorter ul {
    display: inline-block
}

.sorter li {
    display: inline-block
}

.sorter a {
    position: relative;
    margin: 0 10px;
    color: #22b5cd;
    border-bottom: 1px dashed #22b5cd
}

.sorter a:hover {
    color: #42cae0;
    border-bottom: 1px dashed #42cae0;
    cursor: pointer
}

.sorter a.asc, .sorter a.desc {
    color: inherit;
    border-bottom: none
}

.sorter a.asc:after, .sorter a.desc:after {
    position: absolute;
    right: -12px;
    top: calc(50% - 5px);
    width: 12px;
    height: 12px;
    content: ""
}

.sorter a.asc:after {
    background: url(../images/icon-arrow-small_down.png) center center no-repeat
}

.sorter a.desc:after {
    background: url(../images/icon-arrow-small_up.png) center center no-repeat
}

.spinput {
    display: inline-block;
    vertical-align: baseline;
    line-height: 1.3;
    color: #000;
    padding: 0 1.8em;
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-weight: 700;
    position: relative
}

.spinput__minus, .spinput__plus {
    position: absolute;
    display: inline-block;
    width: 1.8em;
    line-height: 1.4;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: content-box
}

.spinput__minus::before, .spinput__plus::before {
    font-size: 130%;
    content: '\2212'
}

.spinput__plus {
    left: auto;
    right: 0
}

.spinput__plus::before {
    content: '\2b'
}

.spinput__value {
    margin: 0;
    width: 2em;
    height: 1.9em;
    background-color: #fff;
    text-align: center;
    vertical-align: baseline;
    line-height: 1.9em;
    border: none
}

.spinput_rubber, .spinput_rubber .spinput__value {
    width: 100%
}

.switch {
    display: inline-table;
    table-layout: fixed;
    font-weight: 700;
    border-radius: 3px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.switch__item {
    display: table-cell
}

.switch__item:not(:first-child) {
    border-left: none
}

.switch-item__input {
    display: none
}

.switch-item__label {
    vertical-align: baseline;
    display: block;
    font-family: 'PT Sans', Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.switch-item__label:hover {
    color: #000;
    cursor: pointer
}

.switch-item__input:checked + .switch-item__label {
    color: #000;
    cursor: default
}

.switch-item__label-text {
    display: inline-block;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.switch-item__input:checked + .switch-item__label > .switch-item__label-text, .switch-item__label:hover > .switch-item__label-text {
    border-bottom: none
}

.tabs {
    position: relative
}

.tabs__addons {
    margin-top: -50px;
    text-align: right
}

.tabs__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.tabs__list_delivery {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.tabs__item:first-child .tabs__link {
    padding-left: 0
}

.tabs__bodies {
    background-color: transparent
}

.tabs__body {
    padding: 30px
}

.tabs_classic .tabs__link {
    position: relative;
    padding: 0 15px;
    display: block;
    font-size: 16px;
    white-space: nowrap;
    line-height: 43px;
    text-align: center;
    text-decoration: underline;
    color: #22b5cd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.tabs_classic .tabs__link.is-active {
    text-decoration: none;
    color: inherit;
    cursor: default
}

.tabs_classic .tabs__body {
    background-color: #fff
}

.toolbar-button {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    color: #fff
}

.toolbar-button:hover, .toolbar-button_active {
    color: #22b5cd;
    cursor: pointer
}

.toolbar-button__label {
    display: inline-block;
    line-height: initial
}

.toolbar-button_dropdown {
    padding-right: 20px
}

.toolbar-button_dropdown:after {
    position: absolute;
    right: 0;
    padding-left: 6px;
    width: 12px;
    height: 12px;
    top: calc(50% - 5px);
    background: url(../images/icon-arrow_down.png) center no-repeat;
    content: ''
}

.toolbar-button_dropdown:hover > .dropdown-menu {
    display: block
}

.toolbar-button .fa {
    color: #b8b8b8
}

.toolbar-button:hover .fa {
    color: inherit
}

.top-menu {
    position: relative;
    height: 100%;
    display: inline-block;
    font-size: 12px
}

.top-menu__item {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    height: 100%
}

.top-menu__item > a {
    display: inline-block;
    text-transform: uppercase
}

.top-menu__item:first-child {
    padding-left: 0
}

.top-menu__item:after {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    display: block;
    height: 10px;
    border-right: 1px solid #444;
    content: ''
}

.top-menu__item:last-child:after {
    display: none
}

.top-menu__item:hover, .top-menu__item_active {
    color: #22b5cd;
    cursor: pointer
}

.wysiwyg:after {
    display: table;
    clear: both;
    content: ''
}

.wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
    margin-top: 1em;
    margin-bottom: .5em;
    text-transform: uppercase
}

.wysiwyg ol, .wysiwyg ul {
    margin-bottom: 20px;
    list-style-position: inside
}

.wysiwyg ul {
    list-style-type: disc
}

.wysiwyg ol {
    list-style-type: decimal
}

.wysiwyg em, .wysiwyg i {
    font-style: italic
}

.wysiwyg b, .wysiwyg strong {
    font-weight: 700
}

.wysiwyg a {
    color: #22b5cd;
    text-decoration: underline
}

.wysiwyg s, .wysiwyg strike {
    text-decoration: line-through
}

.wysiwyg u {
    text-decoration: underline
}

.wysiwyg sup {
    font-size: smaller;
    vertical-align: super
}

.wysiwyg sub {
    font-size: smaller;
    vertical-align: sub
}

.wysiwyg img ~ * {
    margin-left: 400px
}

.wysiwyg img {
    margin-left: 0;
    width: 100%;
    max-width: 380px;
    float: left
}

.wysiwyg p {
    margin-top: .75em;
    margin-bottom: .75em
}

.wysiwyg li img {
    display: block;
    margin-bottom: 20px;
    float: none
}

.wysiwyg blockquote {
    margin-bottom: 40px;
    padding: 20px 30px 30px;
    background: #c5c5c5
}

.wysiwyg blockquote::before {
    content: 'Важно';
    display: block;
    padding-top: .25em;
    padding-bottom: .75em;
    padding-left: 1.8em;
    background-image: url(../images/svg/1_logo_attention.svg);
    background-position: left .25em;
    background-repeat: no-repeat;
    background-size: 1.5em;
    text-transform: uppercase
}

.wysiwyg table.grid {
    table-layout: fixed;
    margin-bottom: 20px
}

.wysiwyg table.grid td {
    padding-right: 20px;
    vertical-align: top
}

.wysiwyg table:not(.grid) {
    width: 100%
}

.wysiwyg table:not(.grid) thead {
    color: #000;
    font-weight: 700;
    background-color: #22b5cd
}

.wysiwyg table:not(.grid) thead tr:not(:only-child) {
    border-bottom: 3px solid #fff
}

.wysiwyg table:not(.grid) thead tr:last-child {
    border-bottom: none
}

.wysiwyg table:not(.grid) thead tr:not(:first-child) th {
    padding-top: .85em;
    padding-bottom: .85em
}

.wysiwyg table:not(.grid) tbody:not(:first-of-type) {
    border-top: 3px solid #b0b0b0
}

.wysiwyg table:not(.grid) tbody:last-child {
    border-bottom: 3px solid #b0b0b0
}

.wysiwyg table:not(.grid) tr {
    border-bottom: 1px solid #b0b0b0
}

.wysiwyg table:not(.grid) td, .wysiwyg table:not(.grid) th {
    padding: 1.5em 1em;
    text-align: center
}

.wysiwyg table:not(.grid) td:not(:only-child):first-child, .wysiwyg table:not(.grid) th:not(:only-child):first-child {
    padding-left: 2em;
    font-weight: 700;
    text-align: left
}

.wysiwyg table:not(.grid) td:not(:only-child):first-child.sub, .wysiwyg table:not(.grid) th:not(:only-child):first-child.sub {
    padding-left: 4em;
    font-weight: 400
}

.wysiwyg button {
    position: relative;
    display: inline-block;
    padding: 12px 22px;
    color: inherit;
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: 0 0;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 3px #22b5cd;
    cursor: pointer;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.wysiwyg button:hover {
    background-color: #22b5cd;
    color: #000
}

.wysiwyg button.primary {
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    text-transform: uppercase;
    background-color: #22b5cd;
    border: none;
    box-shadow: inset 0 1px 0 #fff, inset 0 -2px 0 #9c7b01
}

.wysiwyg button.primary:active, .wysiwyg button.primary:hover {
    background-image: none
}

.wysiwyg button.primary:active {
    box-shadow: inset 0 2px 0 #9c7b01, 0 1px 0 #fff
}

p.wysiwyg__lead {
    margin-bottom: 30px;
    font-size: 1.2em
}

@media only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading, .fancybox-close, .fancybox-next span, .fancybox-prev span {
        background-image: url(../images/fancybox_sprite@2x.png);
        background-size: 44px 152px
    }

    #fancybox-loading div {
        background-image: url(../images/fancybox_loading@2x.gif);
        background-size: 24px 24px
    }
}

@media only screen and (max-width: 1280px) {
    .fancybox-nav span {
        visibility: visible
    }
}

.notifications {
    display: none;
    position: fixed
}

.notifications.top-right {
    right: 0;
    top: 25%
}

.notifications > div {
    position: relative;
    z-index: 9999;
    background-color: #22b5cd;
    color: #fff;
    padding: 10px 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.column {
    float: left
}

.pull-right {
    float: right
}

.input.error {
    border: 1px solid #a94442
}

input.success {
    border: 1px solid #3c763d
}

label.error, .errorMessage, .text-error {
    color: #a94442
}

.errorMessage {
    padding: 3px 0;
}

.errorSummary {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    padding: 20px;
    border-radius: 5px
}

.success, .text-success {
    color: #3c763d
}

.callback-request {
    position: absolute;
    top: 100%;
    z-index: 200;
    padding: 0 25px;
    display: none;
    min-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: 400;
    text-align: left
}

.callback-request.active, .callback-request.toggle-active {
    display: block
}